BR2_DL_DIR="$(HOME)/src"
BR2_BINUTILS_VERSION_2_22=y
BR2_GCC_VERSION_4_7_X=y
BR2_PACKAGE_BUSYBOX_CONFIG="board/tinia/busybox.config"
BR2_PACKAGE_TINIA=y
BR2_TARGET_ROOTFS_EXT2=y
BR2_TARGET_ROOTFS_INITRAMFS=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/tinia/linux-3.6.config"
